// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFFBFB;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  width: 1000px;
  margin: 0 auto;
  &:after,
  &:before {
    content: '';
    display: block;
    clear: both;
  }
}
.header {
  height: 80px;
  border-bottom: solid 1px #ddd;
  &__logo {
    font-size: 24px;
  }
  &--flex {
    display: flex;
  }
  &--vcenter {
    align-items: center;
  }
  &--hbetween {
    justify-content: space-between;
  }
}
.menu {
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__trigger {
    display: block;
    background-color: #f1f1f1;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 10px 20px;
    transition: 0.2s;
    &:hover {
      background-color: #ddd;
    }
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
}
.title {
  margin: 0 0 15px;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  &:hover {
    a {
      display: flex;
    }
  }
  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    display: none;
    width: 31px;
    height: 28px;
    align-items: center;
    justify-content: center;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
.content {
  padding-bottom: 20px;
  &__section {
    border-bottom: solid 1px #ddd;
    padding: 20px 0;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}
.trigger-wrapper {
  display: flex;
  flex-basis: 100%;
  .menu-trigger {
    margin-right: 10px;
    width: 50%;
    &:last-child {
      margin-right: 0;
    }
  }
}
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  img {
    max-width: 100%;
    display: block;
  }
}

.music-box-holder {
  display: flex;
  flex-wrap: wrap;
  .music-box {
    display: flex;
    width: 33%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: #FF2E57;
      .music-box-left {
        background-color: #fff;
        p {
          color: #FF2E57;
        }
        .music-icon {
          svg {
            fill: #FF2E57;
          }
        }
      }
      .music-box-right {
        h3, p, span {
          color: #fff;
        }
      }
      .close-btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .music-box-left {
    width: 100px;
    background-color: #FF2E57;
    text-align: center;
    border-radius: 4px;
    transition: 0.2s;
    p {
      margin: 0;
      font-size: 14px;
      color: #fff;
      background-color: rgba(0,0,0,0.1);
      padding: 7px 0;
      transition: 0.2s;
      font-weight: 500;
    }
  }
  .music-icon {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      transition: 0.2s;
    }
  }
  .music-box-right {
    width: 60%;
    h3 {
      margin: 0 0 8px;
      font-size: 14px;
      transition: 0.2s;
    }
    p {
      color: #949494;
      font-size: 14px;
      margin: 0 0 5px;
      transition: 0.2s;
    }
    span {
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-top: 8px;
      color: #909090;
      transition: 0.2s;
    }
  }
}

.contextmenu__item {
  font-weight: 500;
  display: flex;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
}
.contextmenu {
  width: 250px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  width: 25px;
  height: 25px;
  font-size: 16px;
  padding: 0;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.add-track {
  padding: 3px 10px;
  margin-left: 10px;
  border: 0;
  background-color: #32c552;
  color: #fff;
  border-radius: 2px;
}
.nested {
  background-color: #FF2E57;
  border-radius: 4px;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  .nested_item {
    background-color: #e52b4f;
    padding: 15px;
    margin-top: 15px;
    border-radius: 4px;
  }
}