@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
  &:after,
  &:before {
    content: '';
    display: block;
    clear: both;
  }
}

.header {
  height: 80px;
  border-bottom: solid 1px #ddd;
  &__logo {
    font-size: 24px;
  }
  &--flex {
    display: flex;
  }
  &--vcenter {
    align-items: center;
  }
  &--hbetween {
    justify-content: space-between;
  }
}

.content-wrapper {
  display: flex;
}

.menu {
  width: 20%;
  height: calc(100vh - 80px);
  border-right: solid 1px #ddd;
  padding: 15px 0;
  &__listitem {
    transition: 0.2s;
    margin-bottom: 5px;
    &--active,
    &:hover {
      background-color: #f1f1f1;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__trigger {
    padding: 10px 0;
    display: block;
  }
}

.content {
  width: calc(100% - 200px);
  padding: 15px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #333;
  color: #fff;
}