.contextmenu {
  $contextmenu: '.contextmenu';

  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  &__item {
    $item: &;

    font-size: 14px;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    position: relative;
    margin-bottom: 2px;
    &:hover:not(#{$item}--disabled) {
      background-color: #f1f1f1;
    }
    &--disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
  .submenu {
    $submenu: '.submenu';

    position: relative;
    &:hover {
      & > #{$contextmenu}__item {
        background-color: #f1f1f1;
      }
    }
    &__item {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      border: solid 1px #ccc;
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 0;
      opacity: 0;
      visibility: hidden;
    }
    & > #{$contextmenu}__item {
      &:after {
        content: '';
        border-style: solid;
        border-width: 5px 8px;
        border-color: transparent transparent transparent #000;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        transition: 0.2s;
      }
    }
  }
}

// fade in animation start
.fadein-enter {
  opacity: 0;
}
.fadein-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fadein-exit {
  opacity: 1;
}
.fadein-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
// fade in animation start

// zoom in animation start
.zoomin-enter {
  opacity: 0;
  transform: scale(0.8);
}
.zoomin-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}
.zoomin-exit {
  opacity: 1;
  transform: scale(1);
}
.zoomin-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 200ms, transform 200ms;
}
// zoom in animation start

// to top left animation start
.toTopLeft-enter {
  opacity: 0;
  transform: translate(10px, 10px);
}
.toTopLeft-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 200ms, transform 200ms;
}
.toTopLeft-exit {
  opacity: 1;
  transform: translate(0px, 0px);
}
.toTopLeft-exit-active {
  opacity: 0;
  transform: translate(10px, 10px);
  transition: opacity 200ms, transform 200ms;
}
// to top left animation start

// right to left animation start
.rightToLeft-enter {
  opacity: 0;
  transform: translateX(10px);
}
.rightToLeft-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 200ms, transform 200ms;
}
.rightToLeft-exit {
  opacity: 1;
  transform: translateX(0px);
}
.rightToLeft-exit-active {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 200ms, transform 200ms;
}
// right to left animation start